*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
  font-family: 'Source Sans Pro', system-ui, sans-serif;
}

pre, code, kbd,samp {
  font-family: Consolas, Monaco, Lucida Console !important;
}

ul, ol {
  list-style-position: outside;
}

ol > li:not(:last-of-type), ul > li:not(:last-of-type) {
  padding-bottom: 16px !important;
}

p {
  font-size: 21px;
}

blockquote {
  p {
    margin-top: 0 !important;
  }
}

.header-link:focus {
  outline: none;
  box-shadow: none !important;
}

/* -------------- Signup form --------------- */
.ck {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  border-radius: 4px;
}

@media (width > 650px) {
  .ck {
    flex-direction: row;
  }
}

.ck input,
.ck button {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.ck input {
  font-size: 1.125rem;
  color-scheme: initial;
  color: black;

  --chakra-colors-chakra-placeholder-color: rgb(97, 94, 94);
}

.ck button {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  color: rgb(255 255 255 / 90%);
  border-radius: 16px;
  background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
  background-size: 600%;
  animation: animate-gradient 12s linear infinite;
}

.ck button:hover {
  transform: scale(1.02);
  transition-duration: 200ms;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}